<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="favorites.length > 0; else emptyState">
      <app-pokemon-card
        *ngFor="let pokemon of favorites"
        [pokemon]="pokemon"
        (selected)="goToDetails($event)"
      >
      </app-pokemon-card>
    </ion-row>
  </ion-grid>

  <ng-template #emptyState>
    <ion-text color="medium" class="ion-padding">
      <p>Nenhum Pokémon favoritado ainda.</p>
    </ion-text>
  </ng-template>
</ion-content>
