<ion-header>
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
       🧡 Favorios
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <app-pokemon-card
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        (selected)="goToDetails($event)"
      >
      </app-pokemon-card>
    </ion-row>
  </ion-grid>

  <ion-footer class="ion-padding">
    <ion-button expand="block" (click)="prevPage()" [disabled]="offset === 0"
      >Anterior</ion-button
    >
    <ion-button expand="block" (click)="nextPage()">Próximo</ion-button>
  </ion-footer>
</ion-content>
