<ion-header>
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="6" *ngFor="let pokemon of pokemons"> -->

<app-pokemon-card 
  *ngFor="let pokemon of pokemons"
  [pokemon]="pokemon"
  (selected)="goToDetails($event)">
</app-pokemon-card>

        <!-- <ion-card (click)="goToDetails(pokemon.id)">
          <img [src]="pokemon.image" alt="{{ pokemon.name }}">
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card> -->


      <!-- </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-footer class="ion-padding">
    <ion-button expand="block" (click)="prevPage()" [disabled]="offset === 0">Anterior</ion-button>
    <ion-button expand="block" (click)="nextPage()">Próximo</ion-button>
  </ion-footer>
</ion-content>
