<ion-header>
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
       🧡 Favorios
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <app-pokemon-card
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        (selected)="goToDetails($event)"
      >
      </app-pokemon-card>
    </ion-row>
  </ion-grid>

 <ion-footer class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-start">
        <ion-button (click)="prevPage()" *ngIf="offset !== 0" [disabled]="offset === 0" [style]="offset === 0"    >Anterior</ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button (click)="nextPage()">Próximo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

</ion-content>
